<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= language.error404 %></title>
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="../style/error404.css">
    <link rel="stylesheet" href="../style/navbar.css">
    <link rel="shortcut icon" href="../favicon.png" type="image/x-icon">
  </head>
  <body>
    <%- include ../partials/navbar.ejs %>
    <div class="all-data constrained">
      <div class="school-jumbotron">
      </div>

      <div class="content">
        <div class="main-data-text">
          <div class="content-container">
            <h2 class="title-text"><%= language.errorMessage %></h2>
            <div class="container">
              <p><%= language.errorSolution %></p>
            </div>
          </div>
          </div>
          <div class="sidebar-images">
            <div class="add" id="add-1"></div>
          </div>
        </div>
      </div>
    <script src="../scripts/locale.js"></script>

  </body>
</html>
